PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=X5uiT8J0b4aFPdhV_JCxTyuJ0GUqpH1C
DRIVE_DISK=local
DB_CONNECTION=pg

CMF_API_URL=https://api.cmfchile.cl
CMF_API_KEY=SyX5uiT8J0b4aFPdhV_JCxTyuJ0GUqpH1C
